<h2>Учебные материалы</h2>
<% @subjects.each do |s|%>
<p>
<%= s.name %>  
</p>
<table border="1">
  <%s.documents.each do |document|%>
    <tr>
      <td><%= document.name %></td>
      <td><%= link_to 'Скачать', show_content_document_path(document) %></td>
    </tr>
  <% end %>
</table>
<% end %>