<h3><%= t('views.edu.educational_materials')%></h3>
<% @subjects.each do |s|%>
<p>
<%= s.name %>  
</p>
<table class="table">
  <%s.documents.order(:name).each do |document|%>
    <tr>
      <td><%= document.name %></td>
      <td><%= link_to t('download'), show_content_document_path(document) %></td>
    </tr>
  <% end %>
</table>
<% end %>