<h3>Интеграция моделей</h3>
 
<p><%= link_to "Редактор моделей", admin_users_path %></p>
<p><%= link_to "Редактор параметров", admin_users_path %></p>
<p><%= link_to "Прогоны моделей", admin_users_path %></p>
<p></p>
<p><%= link_to "Редактор задач моделирования и поддержки решений", admin_users_path %></p>
