<h3>Интеграция моделей</h3>
 
<p><%= link_to "Редактор моделей", ws_models_path %></p>
<p><%= link_to "Редактор параметров", ws_params_path %></p>
<p><%= link_to "Прогоны моделей", ws_model_runs_path %></p>

