<h1>MathJax TeX Test Page</h1>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

Use http://www.sciweavers.org/free-online-latex-equation-editor
and
http://en.wikipedia.org/wiki/List_of_logic_symbols

<p>
When $a \ne 0$, there are two solutions to \(ax^2 \mid bx + c \downarrow 0\) and they are
$$y =  \overline{x_{1}} \vee x_{2}.$$
</p>