<h3>MathJax TeX Test Page</h3>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

Use http://www.sciweavers.org/free-online-latex-equation-editor
and
http://en.wikipedia.org/wiki/List_of_logic_symbols

<p>

$
 Что то по-русски 8787\\
 u=\left\{ 0,1,2,3,4,5,6,7,8,9,10 \right\}\\
S_{0} = {3,7,8,5,1,6,9}\\
0. \quad (S_{3} \cap  S_{0})\\
0. \quad S_{3} \cup   S_{0}\\
0. \quad S_{3} \triangle    S_{0}\\
0. \quad S_{3} \setminus    S_{0}\\
0. \quad  \overline (S_{3} \setminus    S_{0})   \\
$
</p>