<h1>Административные действия</h1>
 
<p><%= link_to "Редактор пользователей", admin_users_path %></p>
<p><%= link_to "Редактор методов", ws_methods_path %></p>

<p><%= link_to "Редактор студентов", students_path %></p>